/* Global Styles */
body {
  padding-top: 32.5px;
}

@media screen and (min-width: 992px) {
  body {
    padding-top: 38.5px;
  }
}

/* Custom Font Sizes */
.font-small {
  font-size: 14px;
}

.font-medium {
  font-size: 15px;
}

@media screen and (min-width: 992px) {
  .font-small {
    font-size: 15px;
  }
  .font-medium {
    font-size: 16px;
  }
}

/* Reset navbar-toggler-focus-width  */
.navbar {
  --bs-navbar-toggler-focus-width: 0;
}

.nav-item,
.dropdown-item {
  cursor: pointer;
}

/* offcanvas custom styles */
.offcanvas {
  width: 250px !important;
}

@media screen and (min-width: 576px) {
  /* sm */
  .offcanvas {
    width: 275px !important;
  }
}

@media screen and (min-width: 768px) {
  /* md */
  .offcanvas {
    width: 300px !important;
  }
}

/* card custom styles */
.card:hover {
  scale: 1.01;
  transition: 0.5s;
}

.card-title:hover {
  color: #E4A11B;
  cursor: pointer;
}

.flashing {
  animation: flashing 4s ease-in-out infinite alternate;
}

@keyframes flashing {
  0% {
    text-shadow: 0 0 0, 0 0 5px #fff, 0 0 10px #ffa600, 0 0 15px #ffa600,
      0 0 20px #ffa600, 0 0 25px #ffa600, 0 0 30px #ffa600;
  }
  25% {
    text-shadow: 0 0 0, 0 0 5px #fff, 0 0 10px #2cb2ff, 0 0 15px #2cb2ff,
      0 0 20px #2cb2ff, 0 0 25px #2cb2ff, 0 0 30px #2cb2ff;
  }
  50% {
    text-shadow: 0 0 0, 0 0 5px #fff, 0 0 10px #ff477e, 0 0 15px #ff477e,
      0 0 20px #ff477e, 0 0 25px #ff477e, 0 0 30px #ff477e;
  }
  75% {
    text-shadow: 0 0 0, 0 0 5px #fff, 0 0 10px #12d800, 0 0 15px #12d800,
      0 0 20px #12d800, 0 0 25px #12d800, 0 0 30px #12d800;
  }
  100% {
    text-shadow: 0 0 0, 0 0 5px #fff, 0 0 10px #6d16fa, 0 0 15px #6d16fa,
      0 0 20px #6d16fa, 0 0 25px #6d16fa, 0 0 30px #6d16fa;
  }
}

/* Carousel */
.carousel-caption h5:hover {
  color: #E4A11B;
  cursor: pointer;
}

/* Reset Accordion Styles */
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #FFC107;
}

.accordion-button:focus, .accordion-button:active {
  box-shadow: none;
  color: #FFC107;
}
